<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>chooseUser</title>
</head>
<tbody>
<body>
<!-- /* Content of this page will be decorated by the elements of layout.html (task/layout) */ -->
<div>
    <a th:href = "@{/gotomongo}" style="background: green;width:100px; float: right; color: white;border-radius: 5px; text-align: center"> mongo</a>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
<!--            <td>ID</td>-->
            <td>FullName</td>
            <td>Email</td>
            <td>PhoneNumber</td>
        </tr>
        </thead>

        <tbody>
        <tr th:each="User : ${listUsers}">
<!--            <td th:text="${User.UserID}"></td>-->
            <td th:text="${User.fullName}"></td>
            <td th:text="${User.email}"></td>
            <td th:text="${User.phonenumber}"></td>
            <td> <a th:href="@{/showBookForm/{id}(id=${User.UserID})}" class="btn btn-primary">chooseUser</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</tbody>
</html>