<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>chooseUser</title>
</head>
<tbody>
<body>



<!-- /* Content of this page will be decorated by the elements of layout.html (task/layout) */ -->
<div>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td>FullName</td>
            <td>Email</td>
            <td>PhoneNumber</td>
        </tr>
        </thead>

        <tbody>
        <tr th:each="user : ${listUsers}">
            <td th:text="${user.fullName}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.phoneNumber}"></td>
            <td> <a th:href="@{/mongo/showBookForm/{id}(id=${user.id})}" class="btn btn-primary">chooseUser</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</tbody>
</html>