<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>showBookForm</title>

</head>
<body align="center">

<a th:href = "@{/reportbook_read}" style="background: red;width:100px; float: right; color: white;border-radius: 5px;"> Report of Reading Book   </a>
<a th:href = "@{/reportbook_comment}" style="background: blue;width:100px; float: right; color: white;border-radius: 5px;"> Report of Book Comment   </a>

<div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"/>

 <form th:action="@{/searchBook}" method="get">
    <input type="text" name="keyword" th:value="${keyword}"  placeholder="Find by Title" size="50" >
    <button type="submit" class="btn btn-info" >Search</button>
</form>


<div layout:fragment="content" align="center">
<table border="1"  style="margin: 10px;padding: 10px;
border-collapse: separate; border-spacing: 0 8px;" >
    <thead style="margin: 10px;padding: 10px;
     border-collapse: separate; border-spacing: 0 8px;">
    <tr >
        <th style="margin: 5px">Name</th>
        <th style="margin: 5px">categoryName</th>
        <th style="margin: 5px">categoryDescription</th>
        <th style="margin: 5px" >chaptersNumber</th>
        <th style="margin: 5px">publisherName</th>
        <th style="margin: 5px">publishDate</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody style="margin: 10px;left: 10cm">
    <tr  th:each="Book : ${listBooks}">
        <td th:text="${Book.Name}"></td>
        <td >
<!--                    <span style="margin-left: 20px" th:each="category : ${Book.categories}">-->

<!--                         <span style="padding-right: 3%;padding-left: 3%;word-wrap: break-word;-->
<!--                                margin-left: 20px" th:text="${category.categoryName} "> </span>-->

<!--                         <span style="padding-right: 3%;padding-left: 3%;word-wrap: break-word;-->
<!--                                width: 100px; margin: 5px"th:text="${category.description} "> </span>-->
<!--                    </span>-->


            <span th:each="category, iterStat : ${Book.categories}" th:text="!${iterStat.last} ? ${category.categoryName} + ', ': ${category.categoryName}"></span>
        </td>
        <td>
            <span th:each="category, iterStat : ${Book.categories}" th:text="!${iterStat.last} ? ${category.description} + ', ': ${category.description}"></span>
        </td>



        <td>
            <span style="align-content: center;text-align: center" th:text="${Book.chaptersNumber}"></span>
        </td>

<!--            <td>-->
<!--                    <span colspan="2" th:each="publisher : ${Book.publisherName}">-->
<!--                         <span  th:text="${publisher.Name} "></span>-->
<!--                         <span  th:text="${publisher.Date} "></span>-->
<!--                      </span>-->
<!--        <td>-->

        <td>
            <span th:each="publisher, iterStat : ${Book.publisherName}" th:text="!${iterStat.last} ? ${publisher.Name} + ', ': ${publisher.Name}"></span>
        </td>
        <td>
            <span th:each="publisher, iterStat : ${Book.publisherName}" th:text="!${iterStat.last} ? ${publisher.Date} + ', ': ${publisher.Date}"></span>
        </td>

        <td> <a th:href="@{/showReadBookForm/{id}(id=${Book.Id})}" class="btn btn-primary">Continue</a>
        </td>
    </tr>
    </tbody>
</table>
</div>
<th:block th:if="${Data=='NoData'}">

    <script>

    alert("Book was not founded");

</script>
</th:block>


</body>

</html>